<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>TESTE API COM SPRING</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	</head>
	<body>
		<div class="container my-2">
		<h1>Sistema de Gestão de Servidor</h1>
		<hr>
		<h2> Editar Servidor</h2>
		<form action="#" th:action="@{/rh/servidores/salvar}" th:object="${servidor}" method="POST">
				<input type="hidden" id="id" th:field="*{id}">
				<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">
				<input type="text" th:field="*{matricula}" placeholder="Matricula" class="form-control mb-4 col-4">
				<input type="date" th:field="*{datacad}" placeholder="Data de Cadastro" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Salvar</button>
		
		
		</form>
		<hr>
		<a th:href="@{/rh/servidores}"> Retornar para a Lista de Servidores</a>
	</body>
</html>